
html{
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  text-decoration: none;
}
.Nav-bar{
  width: 100px;
  height: 70px;
}
.Nav-bar button{
  border-radius: 30px;
}
.rss-icon {
  color: #FFA500; 
  font-size: 30px; 
}
.about-panel{
  width: 1000px;
  background-color: rgb(128,128,128,0.2);
  color: #20c20e;
  border-radius: 10px;
}
.about-panel code{
  font-size: 20px;
}
.social a{
	text-decoration: none;
}
.facebook i,.facebook b{
	color :#3b5998;
}
.instagram i,.instagram b{
	background: linear-gradient(210deg,#405DE6,#5B51D8,#833AB4,#C13584,#E1306C,#FD1D1D,#F56040,#F77737,#FCAF45,#FFDC80);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.github i,.github b{
	color: Black;
}
.twitter i,.twitter b{
	color: #1DA1F2;
}



::-webkit-scrollbar {
  width: 8px; /* Width of the entire scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll thumb */
  border-radius: 4px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color on hover */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the empty track */
}